<form>
    <h1>Crie um novo Relatório</h1>

    <mat-form-field class="data-finalizar" appearance="fill">
        <mat-label>DATA DE EMISSÃO</mat-label>
        <input [(ngModel)]="todo.dataParaFinalizar" name="todo.dataParaFinalizar" required pattern="\d{2}-\d{2}-\d{4}" matInput [matDatepicker]="picker" disabled>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>



    <div class="forms">
        <mat-form-field class="form">
            <mat-label>RNC Nº</mat-label>
            <input [(ngModel)]="todo.rnc" name="todo.rnc" matInput placeholder=001>
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Descrição do Produto</mat-label>
            <input [(ngModel)]="todo.descricaoDoProduto" name="todo.descricaoDoProduto" matInput placeholder="Ex. Arruela Especial">
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Código da Peça</mat-label>
            <input [(ngModel)]="todo.codigoDaPeca" name="todo.codigoDaPeca" matInput placeholder="Ex. 123">
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Descrição da Não Conformidade</mat-label>
            <input [(ngModel)]="todo.descricaoNaoConformidade" name="todo.descricaoNaoConformidade" matInput placeholder="Cota A Esp.: 01 a 27, Enc.: 30,9 a 40; Peças com rebarbas.">
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Disposição</mat-label>
            <input [(ngModel)]="todo.disposicao" name="todo.disposicao" matInput placeholder="SC: Material com defeito">
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Responsável</mat-label>
            <input [(ngModel)]="todo.responsavel" name="todo.responsavel" matInput placeholder="Ex. Engenheiro André">
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Ordem de Produção</mat-label>
            <input [(ngModel)]="todo.ordemDeProducao" name="todo.ordemDeProducao" matInput placeholder="Ex. 001">
        </mat-form-field>
    </div>

    <div class="buttons">
        <button (click)="create()" mat-raised-button color="primary">CRIAR</button>
        <button (click)="cancel()" mat-raised-button color="warn">CANCELAR</button>
    </div>
</form>